body {
  font-family: sans-serif, Arial;
  padding: 0;
  margin: 0;
}

section {
  padding: 0 1em;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  width: 250px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: .4rem;
}

.card__poster {
  width: 100%;
}

.card__title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.card__rating {
  color: #333;
}
